:root {
    --background-c:#121212;
    --background-c-hero:#1D1D1D;
    --text-color:#fff;
    --text-second-c:#FFFFFF80;
    --brand-c: #BEA69E;
    --input-c:#FFFFFF33;
    --icon-c:#777777;
    --icon-c-s:#414141;
    --number:#FFFFFF66;
    --mob-m-icon-cam:#BEA69E66;
    --mob-m-dropbox-c:#12121266;
    /* --marquee-elements-displayed: 1;
    --marquee-element-width: calc(100vw / var(--marquee-elements-displayed));
    --marquee-animation-duration */
}

/*____________BODY___________________*/
 body {
    color: var(--text-color);
    font-family: 'DM Sans', sans-serif;
    background-color: var(--background-c);
    font-size: 14px; 
    font-weight: 400;

}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;}

a {
    text-decoration: none ;
}

ul, ol {
    list-style-type: none;
	margin: 0;
	padding: 0;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
    color: currentColor;
}
img {
	display: block;
	width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}

.container { 
width: 100%;
padding: 20px ;
margin: 0 auto;

outline: 2px solid red;
outline-offset: -2px ;
} 

.section {
    padding: 80px 0;
    width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*___________________HEADER START___________________*/
.header-menu {

}
.header-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}
.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    width: 335px;
    height: 50px;
    padding: 15px 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);

}

.header-nav {
  margin-right: auto;


}
.header-logo {
    fill: var(--text-color);
  

}

.header-icon {
    width: 127px;
    height: 20px;
    

   
}
@media screen and (max-width:1440px){
    .header-nav-list {
        display: none;
    }}

@media screen and (min-width:1440px){
    .header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:baseline;
    color: #FFF;

font-size: 14px;
font-weight: 400;
line-height: normal;
text-transform: uppercase
}
}

.header-nav-item {
    
}
.header-nav-link {

}
.header-menu-btn-photo {
       background-color: var(--background-c-hero);
       border-radius: 50%;
       /* border-color: var(--background-c-hero); */
       width: 32px;
       height: 32px;
       border: none;
       /* margin-right: 14px; */

}
.menu-toggle-photo {
    fill: var(--mob-m-icon-cam);


 
    
    
}
.header-menu-btn {
    width: 32px;
    height: 22px;
 
     
    padding: 0;
    border: 0;
    background-color: transparent;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    /* margin-left: auto; */
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    
}
.menu-toggle-menu {
   stroke: var(--text-color) ;

  
   
 
   
}
@media screen and (max-width:767.98px){ .button-hero {
    display: none;
}
}
@media screen and (min-width:767.98px){ .button-hero {
display: flex;
/* padding: 16px 58px; */
width: 186px;
height: 60px;
justify-content: center;
align-items: center;
border-radius: 12px;
background: #FFF;
border: none;
color: #121212;

font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 155.556% */
text-transform: uppercase;
}
} 


/*___________________HEADER END___________________*/
/*____________BODY END___________________*/

/*____________HERO START___________________*/
.hero{
    padding-left: 20px;
    padding-right: 20px;
   
}
.hero-wrapper {
    padding: 40px 20px 0;
    background-color: var(--background-c-hero);
    border-radius: 30px;
}

.hero-title {
    color: #FFF;

font-family: DM Sans;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: 44px; /* 110% */
letter-spacing: -1.6px;
margin-bottom: 20px;
}
.hero-title-span {
    color: #BEA69E;
font-family: DM Sans;
font-size: 40px;
font-style: italic;
font-weight: 400;
line-height: 44px;
letter-spacing: -1.6px;
}
.hero-text {
    color: #FFF;

font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
margin-bottom: 40px;
}
.hero-stat {
    display: flex;
    justify-content: space-between;
    
    /* flex-basis: calc((100% - 40px) / 2); */
}
/* .hero-stat:not(:last-child){
    gap: 40px;
} */
.hero-stat-wrapper {
}
/* .hero-stat-wrapper-list {
}
.hero-stat-wrapper-item {
}
.hero-stat-wrapper-link {
}
.hero-stat-wrapper-icon { 
}*/
.hero-img-box {
}
.man-with-camera {
}
.hero-box {
    display: flex;
    flex-direction: column;
   
}
.hero-box-img-inner{

}
.hero-box-img{
    width: 109px;
    height: 44px;
}

.hero-wrapper-content{
    display: flex;
    column-gap: 4px;
    max-width: 89px;
    
}
.hero-box-text {
    color: #FFF;

font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.56px;
}
.hero-box-link {
    width: 18px;
    height: 9px;
    stroke: var(--background-c);
    fill: var(--text-color);
}
.hero-box-icon {

    
}
.hero-pack {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}
.hero-pack-inner {
   display: flex;
   justify-content: center;
   align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--brand-c)
    
}

.hero-pack-inner-link {
}
.hero-pack-inner-icon {
    
     stroke: var(--background-c);
     fill: var(--brand-c);
}
.hero-pack-inner-box {
}
.hero-pack-inner-text {
    color: rgba(255, 255, 255, 0.50);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.56px;
}
.hero-pack-inner-number {
    color: #FFF;

font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 112.5% */
letter-spacing: -0.64px;
}


/*____________HERO END___________________*/

/*____________RUNNING-STRING-START___________________*/
.running-string {
}
.section {
}
.running-string-inner {
}
.container {
}
.running-string-title {
    color: #FFF;
font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.56px;
text-transform: uppercase;
    
}
.running-string-span {
    color: #BEA69E;

font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 114.286% */
letter-spacing: -0.56px;
text-transform: uppercase;
}
.running-string-end {
    color: #BEA69E;

font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 114.286% */
letter-spacing: -0.56px;
text-transform: uppercase;
}
/*____________RUNNING-STRING-END___________________*/

/*____________ABOUT START___________________*/
.about {
}
.section {
}
.about-inner {
}
.container {
}
.about-box {
}
.about-title {
    color: #FFF;

font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 114.286% */
letter-spacing: -1.12px;
}
.about-span {
    color: #BEA69E;
font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 32px;
letter-spacing: -1.12px;
}
.about-list {
}
.about-item {
}
.about-text {
    color: var(--white, #FFF);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
}
/*____________ABOUT END___________________*/

/*____________COURSES START___________________*/
.courses {
}
.section {
}
.container {
}
.courses-box {
}
.courses-title {
    color: #FFF;

font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 114.286% */
letter-spacing: -1.12px;
}
.courses-span {
    color: #BEA69E;
font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 32px;
letter-spacing: -1.12px;
}
.courses-text {
    color: #FFF;

font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
}
.variety {
}
.variety-list {
}
.variety-item {
}
.variety-number {
    color: rgba(255, 255, 255, 0.40);

font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
}
.variety-link {
}
.variety-icon {
}
.variety-title {
    color: #FFF;

font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 114.286% */
}
.variety-text {
    color: rgba(255, 255, 255, 0.50);

font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
}
/*____________COURSES END___________________*/

/*____________MENTORS START___________________*/
.mentors {
}
.section {
}
.mentors-box {
}
.container {
}
.mentors-title {
    color: #FFF;

font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 114.286% */
letter-spacing: -1.12px;
}
.mentors-title-span {
    color: #BEA69E;
font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 32px;
letter-spacing: -1.12px;
}
.mentors-list {
}
.mentors-item {
}
.mentors-img {
}
.mentors-item-title {
    color: #FFF;

text-align: center;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
}
.mentors-item-text {
    color: rgba(255, 255, 255, 0.50);

text-align: center;
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
letter-spacing: -0.24px;
}
/*____________MENTORS END___________________*/

/*____________SIGN START___________________*/
.sign {
}
.section {
}
.sign-box {
}
.container {
}
.sign-title {
color: #FFF;

font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 114.286% */
letter-spacing: -1.12px;
}
.sign-title-span {
    color: #BEA69E;
font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 32px;
letter-spacing: -1.12px;
}
.sign-text {
    color: #FFF;

font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
}
.sign-form {
}
.box-name {
}
.input-name {
    color: #FFF;

font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
background-color: var(--background-c);
border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.20);
max-width: 335px;
width: 100%;
min-height: 46px;
height: 100%;
padding-left: 18px;
margin-right: auto;

}
.box-email {
}
.box-comment {
}
.text-area {
    color: #FFF;

font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
background-color: var(--background-c);
border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.20);
max-width: 335px;
width: 100%;
min-height: 112px;
height: 100%;
padding-left: 18px;
margin-right: auto;
padding-top: 14px;
}
.btn {
display: flex;
max-width: 335px;
width: 100%;
padding: 14px 127px;
justify-content: center;
align-items: center;
color: var(--background-c);
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 125% */
text-transform: uppercase;
border-radius: 12px;
background: var(--text-color);
border: none;
}
.box-privacy{
    max-width: 335px;
    height: 48px;
}
.privacy {
color: rgba(255, 255, 255, 0.50);
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
}
.link-policy {
    color: rgba(255, 255, 255, 0.50);
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
text-decoration-line: underline;
}
/*____________SIGN END___________________*/

/*____________REVIEWS START___________________*/
.reviews-section {
}
.section {
}
.reviews-box {
}
.container {
}
.reviews-title {
color: #FFF;

font-family: DM Sans;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 114.286% */
letter-spacing: -1.12px;
}
.rewiews-list {
}
.reviews-item {
}
.reviews-name {
color: #FFF;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
}
.reviews-prof {
color: rgba(255, 255, 255, 0.50);
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
letter-spacing: -0.24px;
}
.reviews-text {
color: #FFF;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
letter-spacing: -0.28px;
}
/*____________REVIEWS END___________________*/

/*____________FOOTER START___________________*/
.footer {
}
.footer-inner {
}
.container {
}
.footer-contacts {
}
.footer-contacts-link {
}
.link {
}
.footer-contacts-icon {
    fill: var(--text-color);
    width: 127px;
    height: 20px;
}
.footer-adress {
}
.footer-contacts-list {
    color: #FFF;

font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
text-transform: uppercase;
}
.list {
}
.footer-contacts-item {
}
.footer-socials-box {
}
.footer-socials-list {
color: #FFF;

font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
.footer-socials-item {
}
.footer-socials-link {
}
.footer-menu {
}
.footer-menu-list {
color: #FFF;

font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}
.footer-menu-item {
}
.footer-menu-link {
}
.footer-reg {
}
.footer-input {
    color: #121212;

font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
padding-left: 18px;
padding-right: auto;
width: 267px;
height: 60px;
border-radius: 12px;
border: none;
}
.footer-button-reg {
color: #FFF;

text-align: center;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%;

border-radius: 12px;
background: #1D1D1D;
border: none;
width: 60px;
height: 60px;
}
.footer-privacy {
}
.footer-privacy-list {
}
.footer-privacy-item {
}
.footer-privacy-text {
color: #FFF;
font-family: DM Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
}
/*____________FOOTER END___________________*/


/*____________MOBILE MENU START___________________*/
/*____________MOBILE MENU END___________________*/
